<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/trello.css">

	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-app="app" ng-controller="authCtrl">
	<form action="#" class="list_form" enctype="multipart/form-data" method="get">
		<input type="email" class="auth_input" ng-model="login" placeholder="Email">
		<input type="number" class="auth_input" ng-model="password" placeholder="Password">
		<a href="popup.html">войти</a>
	</form>


	<script src="js/angular.js"></script>
	<script src="js/app.js"></script>
<!--<script src="js/factories/authFactory.js"></script>-->
	<script src="js/controllers/authCtrl.js"></script>
</body>
</html>